:root {
    --color1: #000E28;
    --color2: #203556;
    --color3: #F7F7F7;
    --color4: #FFFFFF;
    --color5: #121212; 
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {
    
}