@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color1: #000E28;
    --color2: #203556;
    --color3: #7796CB;
    --color4: #F7F7F7;
    --color5: #121212; 
    --color6: #750D37;
    --color7: #D62839;
    --title-font: 'Quantico';
    --text-font: 'Karla';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color3);
}

header {
    background-color: var(--color1);
    color: var(--color4);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

header h1{
    font-family: var(--title-font);
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-family: var(--text-font);
    font-size: 1em;
    margin-bottom: 10px;
}

nav {
    background-color: var(--color2);
    box-shadow: 0px 1px 5px #00000080;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    font-family: var(--text-font);
    font-weight: bold;
    color: var(--color4);
    padding: 0px 10px;
    transition-duration: 0.3s;
}

main {
    background-color: var(--color4);
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    max-width: 900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 5px #00000080;
}

main h1 {
    font-family: var(--title-font);
    text-align: center;
}

main h2 {
    font-family: var(--title-font);
    text-align: center;
}

#post-script {
    text-indent: 0px;
}

.experiment {
    text-align: left;
}

main p {
    font-family: var(--text-font);
    text-indent: 30px;
    text-align: justify;
    margin: 15px;
}

main ul {
    margin: 10px 0px 20px 20px;
}

main li {
    font-family: var(--text-font);
}

main a {
    color: var(--color2);
    transition-duration: 0.3s;
}

#atom {
    width: 150px;
    margin-top: 30px;
    margin-right: 20px;
    display: block
}

#ifba-logo {
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;
    display: block
}

#logos {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

#introduction-images {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

#shock-absorber {
    width: 150px;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
}

#shoe {
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block
}

#spring-mass {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    display: block
}

footer {
    background-color: var(--color2);
    font-family: var(--text-font);
    padding: 10px;
    text-align: center;
    color: var(--color4);
    position: sticky;
    bottom: 0;
}

footer a {
    color: var(--color4);
    transition-duration: 0.3s;
}

#button {
    background-color: var(--color2);
    color: var(--color4);
    font-family: var(--text-font);
    padding: 10px;
    margin: 10px 0px 10px 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
}

legend {
    font-family: var(--text-font);
}

label {
    font-family: var(--text-font);
}

.submit_button {
    background-color: var(--color2);
    color: var(--color4);
    font-family: var(--text-font);
    padding: 10px;
    margin: 10px 0px 10px 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.delete_button {
    background-color: var(--color6);
    color: var(--color4);
    font-family: var(--text-font);
    padding: 10px;
    margin: 10px 0px 10px 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.measurement_input {
    width: 50px;
    padding: 5px;
    margin: 2px;
} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav a:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    main a:hover {
        color: var(--color1);
        font-size: 1.1em;
    }

    footer a:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    #button:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    .submit_button:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    .delete_button:hover {
        color: var(--color7);
        font-size: 1.1em;
    }

    #atom {
        width: 175px;
        margin-right: 30px;
        display: block
    }

    #ifba-logo {
        width: 175px;
        margin-left: 30px;
        display: block
    }
    
    #shock-absorber {
        width: 175px;
        margin-right: 30px;
        display: inline-block;
    }

    #shoe {
        width: 175px;
        margin-left: 30px;
        display: inline-block
    }
}

@media screen and (min-width: 1024px) {
    nav a:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    main a:hover {
        color: var(--color1);
        font-size: 1.1em;
    }

    footer a:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    #button:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    .submit_button:hover {
        color: var(--color3);
        font-size: 1.1em;
    }

    .delete_button:hover {
        color: var(--color7);
        font-size: 1.1em;
    }

    #atom {
        width: 200px;
        margin-right: 40px;
        display: block
    }

    #ifba-logo {
        width: 200px;
        margin-left: 40px;
        display: block
    }

    #shock-absorber {
        width: 200px;
        margin-right: 40px;
        display: inline-block;
    }

    #shoe {
        width: 200px;
        margin-left: 40px;
        display: inline-block
    }
}